/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-dark-grey: #4d4d4d;
  --color-blue: #daedec;
  --color-dark-blue: #b9d8d6;
  --color-yellow: rgb(241, 247, 208);

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Size */
  --size-border-radius: 4px;
}

body {
  margin: 0;
  font-family: "Open Sans";
  cursor: default;
  text-align: center;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-dark-grey);
  font-family: "Unica One";
  margin: 16px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
  margin: 4px 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-dark-grey);
}

blockquote {
  padding: 5%;
  color: var(--color-dark-grey);
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
  width: 400px;
}

blockquote:before {
  content: "\201C";
  font-size: 400%;
  display: block;
  position: absolute;
  top: -5px;
  left: -3px;
}

/* Navbar */
#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-blue);
  padding: 10px;
  align-items: center;
}

.navbar__menu {
  display: flex;
  margin-left: 25px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  justify-content: center;
}

.navbar__bottle {
  width: 50px;
  padding-left: 20px;
  padding-top: 10px;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-blue);
}

/* Home */
#home,
#contact,
#about {
  padding: 150px 40px 100px 40px;
}

.home__title {
  color: var(--color-dark-grey);
}

.home__content {
  display: flex;
  padding: 20px;
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__logo {
  width: 250px;
  height: 250px;
}

.btn__home {
  color: var(--color-dark-grey);
  background-color: var(--color-blue);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  font-family: "Unica One";
  margin: 24px;
  padding: 8px 16px;
  border-radius: var(--size-border-radius);
}

.btn__home:hover {
  background-color: var(--color-dark-blue);
}

#bottom {
  background-color: var(--color-blue);
  padding: 20px;
  text-align: center;
  height: 50px;
}
